<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./CapGuyWalk0001</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{252,505}</string>
    <key>spriteSourceSize</key>
    <string>{300,521}</string>
    <key>textureRect</key>
    <string>{{0,511},{252,505}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./CapGuyWalk0002</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{252,505}</string>
    <key>spriteSourceSize</key>
    <string>{300,521}</string>
    <key>textureRect</key>
    <string>{{0,511},{252,505}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./CapGuyWalk0003</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-15,4}</string>
    <key>spriteSize</key>
    <string>{266,483}</string>
    <key>spriteSourceSize</key>
    <string>{300,521}</string>
    <key>textureRect</key>
    <string>{{258,0},{266,483}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./CapGuyWalk0004</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-15,4}</string>
    <key>spriteSize</key>
    <string>{266,483}</string>
    <key>spriteSourceSize</key>
    <string>{300,521}</string>
    <key>textureRect</key>
    <string>{{258,0},{266,483}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./CapGuyWalk0005</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{14,9}</string>
    <key>spriteSize</key>
    <string>{240,490}</string>
    <key>spriteSourceSize</key>
    <string>{300,521}</string>
    <key>textureRect</key>
    <string>{{526,0},{240,490}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./CapGuyWalk0006</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{14,9}</string>
    <key>spriteSize</key>
    <string>{240,490}</string>
    <key>spriteSourceSize</key>
    <string>{300,521}</string>
    <key>textureRect</key>
    <string>{{526,0},{240,490}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./CapGuyWalk0007</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{30,12}</string>
    <key>spriteSize</key>
    <string>{224,489}</string>
    <key>spriteSourceSize</key>
    <string>{300,521}</string>
    <key>textureRect</key>
    <string>{{526,492},{224,489}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./CapGuyWalk0008</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{30,12}</string>
    <key>spriteSize</key>
    <string>{224,489}</string>
    <key>spriteSourceSize</key>
    <string>{300,521}</string>
    <key>textureRect</key>
    <string>{{526,492},{224,489}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./CapGuyWalk0009</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{15,5}</string>
    <key>spriteSize</key>
    <string>{220,496}</string>
    <key>spriteSourceSize</key>
    <string>{300,521}</string>
    <key>textureRect</key>
    <string>{{768,0},{220,496}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./CapGuyWalk0010</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{15,5}</string>
    <key>spriteSize</key>
    <string>{220,496}</string>
    <key>spriteSourceSize</key>
    <string>{300,521}</string>
    <key>textureRect</key>
    <string>{{768,0},{220,496}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./CapGuyWalk0011</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-2}</string>
    <key>spriteSize</key>
    <string>{212,496}</string>
    <key>spriteSourceSize</key>
    <string>{300,521}</string>
    <key>textureRect</key>
    <string>{{768,498},{212,496}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./CapGuyWalk0012</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-2}</string>
    <key>spriteSize</key>
    <string>{212,496}</string>
    <key>spriteSourceSize</key>
    <string>{300,521}</string>
    <key>textureRect</key>
    <string>{{768,498},{212,496}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./CapGuyWalk0013</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{19,4}</string>
    <key>spriteSize</key>
    <string>{230,501}</string>
    <key>spriteSourceSize</key>
    <string>{300,521}</string>
    <key>textureRect</key>
    <string>{{258,485},{230,501}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./CapGuyWalk0014</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{19,4}</string>
    <key>spriteSize</key>
    <string>{230,501}</string>
    <key>spriteSourceSize</key>
    <string>{300,521}</string>
    <key>textureRect</key>
    <string>{{258,485},{230,501}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./CapGuyWalk0015</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{14,2}</string>
    <key>spriteSize</key>
    <string>{256,509}</string>
    <key>spriteSourceSize</key>
    <string>{300,521}</string>
    <key>textureRect</key>
    <string>{{0,0},{256,509}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./CapGuyWalk0016</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{14,2}</string>
    <key>spriteSize</key>
    <string>{256,509}</string>
    <key>spriteSourceSize</key>
    <string>{300,521}</string>
    <key>textureRect</key>
    <string>{{0,0},{256,509}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{990,1018}</string>
   <key>textureFileName</key>
   <string>sprite-sheet anim.png</string>
  </dict>
 </dict>
</plist>
